<!DOCTYPE html>
{% load static %}

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->



<html class="no-js">
    <head>
        <!-- Basic Page Needs
        ================================================== -->
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="icon" href="favicon.ico">
        <title>Zero Sugar Drinks</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <!-- Mobile Specific Metas
        ================================================== -->
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1">
      
        <!-- theme meta -->
        <meta name="theme-name" content="timer" />

        
        <!-- Template CSS Files
        ================================================== -->
        <!-- Twitter Bootstrs CSS -->
        <link rel="stylesheet" href="{% static 'plugins/bootstrap/bootstrap.min.css' %}">
        <!-- Ionicons Fonts Css -->
        <link rel="stylesheet" href="{% static 'plugins/ionicons/ionicons.min.css' %}">
        <!-- animate css -->
        <link rel="stylesheet" href="{% static 'plugins/animate-css/animate.css' %}">
        <!-- Hero area slider css-->
        <link rel="stylesheet" href="{% static 'plugins/slider/slider.css' %}">
        <!-- slick slider -->
        <link rel="stylesheet" href="{% static 'plugins/slick/slick.css' %}">
        <!-- Fancybox -->
        <link rel="stylesheet" href="{% static 'plugins/facncybox/jquery.fancybox.css' %}">
        <!-- hover -->
        <link rel="stylesheet" href="{% static 'plugins/hover/hover-min.css' %}">
        <!-- template main css file -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
      	<!-- Template Javascript Files
        ================================================== -->
        <!-- jquery -->
        <script src="{% static 'plugins/jQurey/jquery.min.js' %}"></script>
        <!-- Form Validation -->
        <script src="{% static 'plugins/form-validation/jquery.form.js' %}"></script>
        <script src="{% static 'plugins/form-validation/jquery.validate.min.js' %}"></script>
        <!-- slick slider -->
        <script src="{% static 'plugins/slick/slick.min.js' %}"></script>
        <!-- bootstrap js -->
        <script src="{% static 'plugins/bootstrap/bootstrap.min.js' %}"></script>
        <!-- wow js -->
        <script src="{% static 'plugins/wow-js/wow.min.js' %}"></script>
        <!-- slider js -->
        <script src="{% static 'plugins/slider/slider.js' %}"></script>
        <!-- Fancybox -->
        <script src="{% static 'plugins/facncybox/jquery.fancybox.js' %}"></script>
        <!-- template main js -->
        <script src="{% static 'js/main.js' %}"></script>
        <script>
              $('a').click(function () {
                $('html, body').animate({
                  scrollTop: $($.attr(this, 'href')).offset().top
                }, 500);
                return false;
              });
        </script>
    <style>
      html { scroll-behavior: smooth;}
    </style>
    </head>
    <body>

<!--
        ==================================================
        Header Section Start
        ================================================== -->
<section class="top-bar animated-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="">
                        <img src="{% static 'images/healthypleasure.png' %}" height="80" alt="logo">
                    </a>
                </nav>
            </div>
        </div>
    </div>
</section>

<!--
==================================================
Slider Section Start
================================================== -->
<section id="hero-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="block wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">

          <!-- Slider -->
          <section class="cd-intro">
            <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s">
              <span >오늘 당신의 제로 탄산음료는?</span><br>
              <span class="cd-words-wrapper">
                <b class="is-visible">코카콜라 제로</b>
                <b>스프라이트 제로</b>
                <b>노브랜드 스파클링 에이드</b>
                <b>원에이엠 스파클링</b>
                <b>트레비</b>
                <b>펩시콜라 제로슈거</b>
                <b>칠성사이다 제로</b>
                <b>부르르 제로콜라</b>
                <b>부르르 제로사이다</b>
                <b>웰치스 제로</b>
                <b>빅토리아 탄산수</b>
                <b>씨그램</b>
                <b>나랑드사이다 제로</b>
                <b>미네마인</b>
                <b>라인바싸</b>
              </span>
            </h1>
          </section> <!-- cd-intro -->
          <!-- /.slider -->
          <h2 class="wow fadeInUp animated" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
            제로 탄산음료의 리뷰를 한 눈에 쏙 확인하고 싶다면?
          </h2>
          <a class="btn-lines dark light wow fadeInUp animated smooth-scroll btn btn-default btn-green animated"
            data-wow-delay=".9s" href="#works" data-section="#works" style="visibility: visible; animation-delay: 0.9s; animation-name: fadeInUp;" >한 눈에 쏙 리뷰 보러가기</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/#main-slider-->

<!--
==================================================
About Section Start
================================================== -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
          <div style="font-size : 28px; margin-bottom : 25px; font-weight : bold;">
            지금은 <span style="color:black;">제로칼로리</span> 탄산음료 전성시대!
          </div>
          <p style = "font-weight:bold; color:#000000; font-size:20px;">
            <b><font size="5">제로칼로리 탄산음료란?</font></b>
            <br><font size="3.5">설탕 대신 인공감미료를 첨가해 칼로리가 0kcal에 가까운 탄산음료</font></br>
            <font size="3">* 국내에서는 100ml당 4kcal 미만일 경우 0kcal 표기 가능</font></p>
                    <p style = "font-weight:bold; color:#000000;">
            <b><font size="5">설탕이 들어가지 않은 탄산음료, 왜 달까?</font></b>
            <br>
            <span title="설탕보다 200배의 단맛을 자랑하는 인공감미료."><a href = "https://ko.wikipedia.org/wiki/아스파탐" target="_blank">아스파탐</a></span>,
            <span title="설탕보다 600배 강한 단맛을 가진 무열량 감미료이다.."><a href = "https://ko.wikipedia.org/wiki/수크랄로스" target="_blank">수크랄로스</a></span>,
            <span title="설탕보다 200배의 단맛을, 아스파탐 만큼의 단맛을 가진 인공감미료."><a href = "https://ko.wikipedia.org/wiki/아세설팜_칼륨" target="_blank">아세설팜_칼륨</a></span>
            등 <b>인공감미료</b> 때문이다</br>
            <br>같은 양의 설탕보다 수 백배 높은 단맛을 내기 때문에 아주 적은 양으로도 단맛을 낼 수 있다</br>
            <font size="2">* 인공감미료: 단맛을 내기 위한 화학합성물</font>
          </p>
        </div>

      </div>
      <div class="col-md-6 col-sm-6">
        <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
          <img src="{% static 'images/about/zerodrinks.jpg' %}" alt="">
        </div>
      </div>
    </div>
  </div>
</section> <!-- /#about -->


<!--
==================================================
Portfolio Section Start
================================================== -->
<section id="works" class="works" >
  <div class="container">
<!--        <div class="row">-->
          <div style ="float : left">
    <div class="section-heading">
      <h1 class="title wow fadeInDown" data-wow-delay=".3s">제로칼로리 음료 리스트</h1>
      <br>
<!--      <p class="wow fadeInDown" data-wow-delay=".5s">-->
<!--        제로 탄산음료 소비자들의 리뷰를 분석하여 네트워크 시각화를 보여줍니다-->
<!--      </p>-->
         <div class="container">
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
          <div class="img-wrapper">
            <img src="{% static 'images/portfolio/cocacola.jpg' %}" class="img-fluid" alt="this is a title">
            <div class="overlay">
              <div class="buttons">
                <a href="../cocacola/">Details</a>
              </div>
            </div>
          </div>
          <figcaption>
            <h4 style="text-align: center;">
              <a href="../cocacola/"; >
                코카콜라 제로
              </a>
            </h4>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-4 col-sm-6">
        <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
          <div class="img-wrapper">
            <img src="{% static 'images/portfolio/pepsi.jpg' %}" class="img-fluid" alt="this is a title">
            <div class="overlay">
              <div class="buttons">
                <a href="../pepsicola/">Details</a>
              </div>
            </div>
          </div>
          <figcaption>
            <h4 style="text-align: center;">
              <a href="../pepsicola/">
                펩시콜라 제로슈거
              </a>
            </h4>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-4 col-sm-6">
        <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
          <div class="img-wrapper">
            <img src="{% static 'images/portfolio/burrcola.jpg' %}" class="img-fluid" alt="">
            <div class="overlay">
              <div class="buttons">
                <a href="../burrcola/">Details</a>
              </div>
            </div>
          </div>
          <figcaption>
            <h4 style="text-align: center;">
              <a href="../burrcola/">
                부르르 제로콜라
              </a>
            </h4>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-4 col-sm-6">
        <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
          <div class="img-wrapper">
            <img src="{% static 'images/portfolio/sprite_01.jpg' %}" class="img-fluid" alt="this is a title">
            <div class="overlay">
              <div class="buttons">
                <a href="../sprite/">Details</a>
              </div>
            </div>
          </div>
          <figcaption>
            <h4 style="text-align: center;">
              <a href="../sprite/">
                스프라이트 제로
              </a>
            </h4>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-4 col-sm-6">
        <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
          <div class="img-wrapper">
            <img src="{% static 'images/portfolio/chilsung_01.png' %}" class="img-fluid" alt="this is a title">
            <div class="overlay">
              <div class="buttons">
                <a href="../chilsung/">Details</a>
              </div>
            </div>
          </div>
          <figcaption>
            <h4 style="text-align: center;">
              <a href="../chilsung/">
                칠성사이다 제로
              </a>
            </h4>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-4 col-sm-6">
        <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
          <div class="img-wrapper">
            <img src="{% static 'images/portfolio/burrcider.jpg' %}" class="img-fluid" alt="">
            <div class="overlay">
              <div class="buttons">
                <a href="../burrcider/">Details</a>
              </div>
            </div>
          </div>
          <figcaption>
            <h4 style="text-align: center;">
              <a href="../burrcider/">
                부르르 제로사이다
              </a>
            </h4>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-4 col-sm-6">
        <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="600ms">
          <div class="img-wrapper">
            <img src="{% static 'images/portfolio/narangd.jpg' %}" class="img-fluid" alt="">
            <div class="overlay">
              <div class="buttons">
                <a href="../narangd/">Details</a>
              </div>
            </div>
          </div>
          <figcaption>
            <h4 style="text-align: center;">
              <a href="../narangd/">
                나랑드사이다 제로
              </a>
            </h4>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-4 col-sm-6">
        <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="900ms">
          <div class="img-wrapper">
            <img src="{% static 'images/portfolio/nobrand.jpg' %}" class="img-fluid" alt="">
            <div class="overlay">
              <div class="buttons">
                <a href="../nobrand/">Details</a>
              </div>
            </div>
          </div>
          <figcaption>
            <h4 style="text-align: center;">
              <a href="../nobrand/">
                노브랜드 스파클링
              </a>
            </h4>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-4 col-sm-6">
        <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="1200ms">
          <div class="img-wrapper">
            <img src="{% static 'images/portfolio/welchs.jpg' %}" class="img-fluid" alt="">
            <div class="overlay">
              <div class="buttons">
                <a href="../welchs/">Details</a>
              </div>
            </div>
          </div>
          <figcaption>
            <h4 style="text-align: center;">
              <a href="../welchs/">
                웰치스 제로
              </a>
            </h4>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-4 col-sm-6">
        <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
          <div class="img-wrapper">
            <img src="{% static 'images/portfolio/oneam.jpg' %}" class="img-fluid" alt="this is a title">
            <div class="overlay">
              <div class="buttons">
                <a href="../oneam/">Details</a>
              </div>
            </div>
          </div>
          <figcaption>
            <h4 style="text-align: center;">
              <a href="../oneam/">
                원에이엠 스파클링
              </a>
            </h4>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-4 col-sm-6">
        <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
          <div class="img-wrapper">
            <img src="{% static 'images/portfolio/victoria.jpg' %}" class="img-fluid" alt="this is a title">
            <div class="overlay">
              <div class="buttons">
                <a href="../victoria/">Details</a>
              </div>
            </div>
          </div>
          <figcaption>
            <h4 style="text-align: center;">
              <a href="../victoria/">
                빅토리아 탄산수
              </a>
            </h4>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-4 col-sm-6">
        <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
          <div class="img-wrapper">
            <img src="{% static 'images/portfolio/minemine.jpg' %}" class="img-fluid" alt="">
            <div class="overlay">
              <div class="buttons">
                <a href="../minemine/">Details</a>
              </div>
            </div>
          </div>
          <figcaption>
            <h4 style="text-align: center;">
              <a href="../minemine/">
                미네마인 스파클링
              </a>
            </h4>
          </figcaption>
        </figure>
      </div>
            <div class="col-md-4 col-sm-6">
        <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
          <div class="img-wrapper">
            <img src="{% static 'images/portfolio/trevi.jpg' %}" class="img-fluid" alt="this is a title">
            <div class="overlay">
              <div class="buttons">
                <a href="../trevi/">Details</a>
              </div>
            </div>
          </div>
          <figcaption>
            <h4 style="text-align: center;">
              <a href="../trevi/">
                트레비
              </a>
            </h4>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-4 col-sm-6">
        <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
          <div class="img-wrapper">
            <img src="{% static 'images/portfolio/reinwasser.jpg' %}" class="img-fluid" alt="this is a title">
            <div class="overlay">
              <div class="buttons">
                <a href="../reinwasser/">Details</a>
              </div>
            </div>
          </div>
          <figcaption>
            <h4 style="text-align: center;">
              <a href="../reinwasser/">
                라인바싸 탄산수
              </a>
            </h4>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-4 col-sm-6">
        <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
          <div class="img-wrapper">
            <img src="{% static 'images/portfolio/seagram.jpg' %}" class="img-fluid" alt="">
            <div class="overlay">
              <div class="buttons">
                <a href="../seagram/">Details</a>
              </div>
            </div>
          </div>
          <figcaption>
            <h4 style="text-align: center;">
              <a href="../seagram/">
                씨그램
              </a>
            </h4>
          </figcaption>
        </figure>
      </div>
<!--    </div>-->
      </div>
  </div>
          </div>
  </div>
</section> <!-- #works -->
<!--
==================================================
Portfolio Section Start
================================================== -->
            <!--
            ==================================================
            Footer Section Start
            ================================================== -->
            <footer id="footer">
                <div class="container">
                    <div class="row content-justify-between">
                        <div class="col-md-8 col-12 text-center text-lg-left text-md-left">
<!--                            <p class="copyright">Copyright: Design and Developed by <a href="http://www.Themefisher.com" target="_blank">Themefisher</a>. <br>-->
                            <p class="copyright">Copyright: Design and Developed by <font size="3">Something to Drink</font></a>. <br>
<!--                                Get More Bootstrap Template From Our -->
<!--                                <a href="https://themefisher.com/free-bootstrap-templates/" target="_blank">Store</a>-->
                            </p>
                        </div>
                    </div>
                </div>
            </footer> <!-- /#footer -->


 	</body>
</html>
