
<!DOCTYPE html>
{% load static %}
<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html class="no-js">
    <head>
        <meta charset="UTF-8">
        <title>Zero Sugar Drinks</title>
        <!-- 2. 사이트 html 하단 script 태그 위치 -->

        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/networkgraph.js"></script>


        <!-- Basic Page Needs
        ================================================== -->
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="icon" href="favicon.ico">
        <title>Timer Agency Template</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <!-- Mobile Specific Metas
        ================================================== -->
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <!-- Template CSS Files
        ================================================== -->
        <!-- Twitter Bootstrs CSS -->
        <link rel="stylesheet" href="{% static 'plugins/bootstrap/bootstrap.min.css' %}">
        <!-- Ionicons Fonts Css -->
        <link rel="stylesheet" href="{% static 'plugins/ionicons/ionicons.min.css' %}">
        <!-- animate css -->
        <link rel="stylesheet" href="{% static 'plugins/animate-css/animate.css' %}">
        <!-- Hero area slider css-->
        <link rel="stylesheet" href="{% static 'plugins/slider/slider.css' %}">
        <!-- slick slider -->
        <link rel="stylesheet" href="{% static 'plugins/slick/slick.css' %}">
        <!-- Fancybox -->
        <link rel="stylesheet" href="{% static 'plugins/facncybox/jquery.fancybox.css' %}">
        <!-- hover -->
        <link rel="stylesheet" href="{% static 'plugins/hover/hover-min.css' %}">
        <!-- template main css file -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <!-- push button css file -->
        <link rel="stylesheet" href="{% static 'buttoncss/btn_push.css' %}">
    </head>
    <body> <!--
        ==================================================
        Header Section Start
        ================================================== -->
<section class="top-bar animated-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="../index">
                        <img src="{% static 'images/healthypleasure.png' %}" height="80" alt="logo">
                    </a>
                    <button class="d-none navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="d-none navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="index.html">Home
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="about.html">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="service.html">Service</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    Pages
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="404.html">404 Page</a>
                                    <a class="dropdown-item" href="gallery.html">Gallery</a>
                                    <a class="dropdown-item" href="single-post.html">Single Post</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    Blog
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="blog-fullwidth.html">Blog Full</a>
                                    <a class="dropdown-item" href="blog-left-sidebar.html">Blog Left sidebar</a>
                                    <a class="dropdown-item" href="blog-right-sidebar.html">Blog Right sidebar</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">Contact</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>
<!--
==================================================
Global Page Section Start
================================================== -->
<section class="global-page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <div class="d-none portfolio-meta">
            <span>Jan 13, 2022</span>|
            <span> Category: Drinks</span>|
            <span> website:
              <a href="http://www.themefisher.com">Themefisher</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/#Page header-->

<!-- work details part start -->
<section class="work-single" style="padding :0px;">
    <div class="container">
   <div style="width:1100px; height:700px; border:0px solid green; float:center;">

       <div style = "float : right">
           <script language="javascript">function showPopup() { window.open("../reinwasser/grap", "라인바싸 탄산수", "width=800, height=720, left=100, top=50"); }</script>
           <a href="" class="button btnPush btnBlueGreen" onclick="showPopup();">더보기</a>
       </div>
                    <figure class = "hightcharts-figure">
<!--                        (1100px - 850px) / 2 -->
                        <div id="container" style="width : 80%; height: 650px; margin-left : 125px;"></div>
                        <p class ="highcharts-dscription">
                        </p>
                    </figure>
                      <script >
           var lst = {{data}}
        console.log('>>>>>>>>>>')
        //console.log(lst)
        Highcharts.addEvent(
          Highcharts.Series,
          'afterSetOptions',
          function (e) {
            var colors = Highcharts.getOptions().colors,
              i = 0,
              nodes = {};
            if (
              this instanceof Highcharts.Series.types.networkgraph &&
              e.options.id === 'language-tree'
            ) {
              e.options.data.forEach(function (link) {


<!-- -------------------------------------- -->

               nodes['라인바싸'] = {
                id : '라인바싸' ,
                marker : {
                    radius : 40
                    } ,
                    color : '#00FFFF'
               };

<!-- -------------------------------------- -->

                nodes['가격'] = {
                id : '가격' ,
                marker : {
                    radius : 30
                } ,
                color : 'gold'
               } ;
               for (let nd in {'저렴하다' : 1,  '제품':3 , '가성비':4 , '재구매':5 ,'의사':6}) {
                nodes[nd] = {
                    id : nd ,
                    marker : {
                        radius : 15
                    } ,
                    color : 'gold'
                };}

<!-- -------------------------------------- -->

               nodes['배송'] = {
                id : '배송' ,
                marker : {
                    radius : 30
                } ,
                color : '#99f19e'
               } ;

               for (let nd in {'박스':1 , '빠르다' : 2, '포장':3, '최고':4 }) {
                nodes[nd] = {
                    id : nd ,
                    marker : {
                        radius : 15
                    } ,
                    color : '#99f19e'
                };}

            if (link[0] === '포장') {
              nodes['포장'] = {
                id: '포장',
                marker: {
                  radius: 15
                },
                color: '#99f19e'
              };
              nodes[link[1]] = {
                id: link[1],
                marker: {
                  radius: 15
                },
                color: '#99f19e'
              };
            }

<!-- -------------------------------------- -->

               nodes['맛'] = {
                id : '맛' ,
                marker : {
                    radius : 30
                } ,
                color : '#ef5285'
               } ;
               for (let nd in {'레몬':1 , '자몽':2 , '플레인':3 , '청':4 , '처음':8}) {
                nodes[nd] = {
                    id : nd ,
                    marker : {
                        radius : 15
                    } ,
                    color : '#ef5285'
                };}

<!--            if (link[0] === '파인애플') {-->
<!--              nodes['파인애플'] = {-->
<!--                id: '파인애플',-->
<!--                marker: {-->
<!--                  radius: 15-->
<!--                },-->
<!--                color: '#ef5285'-->
<!--              };-->
<!--              nodes[link[1]] = {-->
<!--                id: link[1],-->
<!--                marker: {-->
<!--                  radius: 15-->
<!--                },-->
<!--                color: '#ef5285'-->
<!--              };-->
<!--            }-->

<!-- -------------------------------------- -->

               nodes['탄산'] = {
                id : '탄산' ,
                marker : {
                   radius : 30
                } ,
                color : '#47b8e0'
               } ;
               for (let nd in {'탄산수':1 , '구매':2 }) {
                nodes[nd] = {
                    id : nd ,
                    marker : {
                        radius : 15
                    } ,
                    color : '#47b8e0'
                };}
<!--            if (link[0] === '포장') {-->
<!--              nodes['포장'] = {-->
<!--                id: '포장',-->
<!--                marker: {-->
<!--                  radius: 15-->
<!--                },-->
<!--                color: '#47b8e0'-->
<!--              };-->
<!--              nodes[link[1]] = {-->
<!--                id: link[1],-->
<!--                marker: {-->
<!--                  radius: 15-->
<!--                },-->
<!--                color: '#47b8e0'-->
<!--              };-->
<!--            }-->

<!--            if (nodes[link[0]] && nodes[link[0]].color) {-->
<!--                nodes[link[1]] = {-->
<!--                    id: link[1],-->
<!--                    color: 'silver' ,-->
<!--                    marker : {-->
<!--                        radius : 15-->
<!--                    }-->
<!--                    };-->
<!--                    }-->


              });

              e.options.nodes = Object.keys(nodes).map(function (id) {
                return nodes[id];
              });
            }
          }
        );

        Highcharts.chart('container', {
          chart: {
            type: 'networkgraph',
            marginTop: 50 ,
            height: 650
          },
          title: {
            text: ''
          },
          subtitle: {
            text: ''
          },
          plotOptions: {
            networkgraph: {
              keys: ['from', 'to'],
              layoutAlgorithm: {
                enableSimulation: false,
                integration: 'verlet',
                linkLength: 150
              }
            }
          },
          series: [{
            id: 'language-tree',
            marker: {
              radius: 25
            },
            dataLabels: {
              enabled: true,
              textPath: {
                enabled: true
              },
              linkFormat: '',
              allowOverlap: true
            },
            data: [
            ['라인바싸' , '맛'],
            ['라인바싸' , '배송'],
            ['라인바싸' , '가격'],
            ['라인바싸' , '탄산'],
['맛', '레몬'], ['맛', '자몽'], ['레몬', '자몽'], ['레몬', '플레인'], ['레몬', '청'], ['자몽', '플레인'], ['자몽', '처음'], ['자몽', '청'], ['제품', '재구매'], ['제품', '박스'], ['제품', '가성비'], ['배송', '빠르다'], ['배송', '제품'], ['배송', '박스'], ['빠르다', '포장'], ['빠르다', '처음'], ['빠르다', '최고'], ['제품', '재구매'], ['제품', '박스'], ['제품', '가성비'], ['박스', '포장'], ['박스', '레몬'], ['박스', '플레인'], ['가격', '제품'], ['가격', '저렴하다'], ['가격', '재구매'], ['제품', '재구매'], ['제품', '박스'], ['제품', '가성비'], ['저렴하다', '제품'], ['저렴하다', '재구매'], ['저렴하다', '박스'], ['재구매', '가성비'], ['재구매', '의사'], ['재구매', '박스'], ['탄산', '탄산수'], ['탄산', '구매'], ['탄산수', '구매'], ['탄산수', '맛'], ['탄산수', '가격'], ['구매', '가격'], ['구매', '배송'], ['제품', '재구매'], ['제품', '박스'], ['제품', '가성비']]

          }]
        });
        </script>
            </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="work-single-image">
            <div style="clear:both:">

            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <!-- work single Content -->
        <div class="work-single-content">
          <h3>라인바싸</h3>
          <p>미네랄 탄산수 진짜 생수를 담아, 라인바싸!</p>
          <p>열량 0kcal, 지방 0g, 단백질 0g, 탄수화물(당류) 0g, 나트륨 0mg(500ml)</p>
            <br>
            <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="img-wrapper">
                                <p style="text-align: center;">
                                    <img src="{% static 'images/portfolio/reinwasser/reinwasserP500.jpg' %}" height="170" alt="portfolio items">
                                <p style="text-align: center;">라인바싸 500ml</p>
                                </p>
                            </div>
                        </div>
                    </div>
              </div>
          <!-- Blockquote -->
<!--          <blockquote>-->
<!--              <p></p>-->
<!--          </blockquote>-->
<!--          <p>3번째 설명</p>-->
        </div>
      </div>
      <div class="col-lg-4">
        <!-- sidebar -->
        <div class="work-single-sidebar">
          <h5>제조사</h5>
          <h6><a href = "https://www.donga-otsuka.co.kr/" target="_blank">동아오츠카</a></h6>
          <h5>감미료</h5>
          <h6>無</h6>
<!--          <h5>원산지</h5>-->
<!--          <h6>미국</h6>-->
<!--          <h5>출시 연도</h5>-->
<!--          <h6>2005년</h6>-->
          <div class="row">
        </div>
      </div>
      <div class="col-lg-12">
        <a class="d-none btn btn-dafault btn-work hvr-bounce-to-right" href="#">페이지 탑 버튼</a>
      </div>
    </div>
  </div>
</section>
<!-- work details part end -->

<section class="works works-fit">
  <div class="container">
    <h2 class="subtitle">다른 제품들</h2>
    <p class="d-none subtitle-des">
      관련 음료 추천 문장1
      <br> 관련 음료 추천 문장 2.
    </p>
    <div class="row">

      <div class="col-md-3 col-sm-6">
        <figure class="wow fadeInLeft animated animated" data-wow-duration="300ms" data-wow-delay="300ms"
          style="visibility: visible; animation-duration: 300ms; -webkit-animation-duration: 300ms; animation-delay: 300ms; -webkit-animation-delay: 300ms; animation-name: fadeInLeft; -webkit-animation-name: fadeInLeft;">
          <div class="img-wrapper">
            <img src="{% static 'images/portfolio/victoria.jpg' %}" class="img-fluid" alt="">
            <div class="overlay">
              <div class="buttons">
                <a target="_blank" href="../victoria/">Details</a>
              </div>
            </div>
          </div>
          <figcaption>
            <h4 style="text-align: center;">
              <a href="../victoria/">
                빅토리아 탄산수
              </a>
            </h4>
          </figcaption>
        </figure>
      </div>

      <div class="col-md-3 col-sm-6">
        <figure class="wow fadeInLeft animated animated" data-wow-duration="300ms" data-wow-delay="600ms"
          style="visibility: visible; animation-duration: 300ms; -webkit-animation-duration: 300ms; animation-delay: 600ms; -webkit-animation-delay: 600ms; animation-name: fadeInLeft; -webkit-animation-name: fadeInLeft;">
          <div class="img-wrapper">
            <img src="{% static 'images/portfolio/minemine.jpg' %}" class="img-fluid" alt="">
            <div class="overlay">
              <div class="buttons">
                <a target="_blank" href="../minemine/">Details</a>
              </div>
            </div>
          </div>
          <figcaption>
            <h4 style="text-align: center;">
              <a href="../minemine/">
                미네마인 스파클링
              </a>
            </h4>
          </figcaption>
        </figure>
      </div>

      <div class="col-md-3 col-sm-6">
        <figure class="wow fadeInLeft animated portfolio-item animated" data-wow-duration="300ms" data-wow-delay="0ms"
          style="visibility: visible; animation-duration: 300ms; -webkit-animation-duration: 300ms; animation-delay: 0ms; -webkit-animation-delay: 0ms; animation-name: fadeInLeft; -webkit-animation-name: fadeInLeft;">
          <div class="img-wrapper">
            <img src="{% static 'images/portfolio/trevi.jpg' %}" class="img-fluid" alt="portfolio items">
            <div class="overlay">
              <div class="buttons">
                <a target="_blank" href="../trevi/">Details</a>
              </div>
            </div>
          </div>
          <figcaption>
            <h4 style="text-align: center;">
              <a href="../trevi/">
                트레비
              </a>
            </h4>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-6">
        <figure class="wow fadeInLeft animated animated" data-wow-duration="300ms" data-wow-delay="300ms"
          style="visibility: visible; animation-duration: 300ms; -webkit-animation-duration: 300ms; animation-delay: 300ms; -webkit-animation-delay: 300ms; animation-name: fadeInLeft; -webkit-animation-name: fadeInLeft;">
          <div class="img-wrapper">
            <img src="{% static 'images/portfolio/seagram.jpg' %}" class="img-fluid" alt="portfolio items">
            <div class="overlay">
              <div class="buttons">
                <a target="_blank" href="../seagram/">Details</a>
              </div>
            </div>
          </div>
          <figcaption>
            <h4 style="text-align: center;">
              <a href="../seagram/">
                씨그램
              </a>
            </h4>
          </figcaption>
        </figure>
      </div>

    </div>
  </div>
</section>

            <!--
            ==================================================
            Call To Action Section Start
            ================================================== -->
            <section id="d-none call-to-action">
                <div class="d-none container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="block">
                                <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">하위 섹션 제목</h1>
                                <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">하위세션 문장1<br>하위세션 문장2.</p>
                                <a href="contact.html" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms">/contact페이지 가는 버튼</a>
                            </div>
                        </div>

                    </div>
                </div>
            </section>;
            <!--
            ==================================================
            Footer Section Start
            ================================================== -->
            <footer id="d-none footer">
                <div class="container">
                    <div class="row content-justify-between">
                        <div class="col-md-8 col-12 text-center text-lg-left text-md-left">
                            <p class="d-none copyright">Copyright: Design and Developed by <a href="http://www.Themefisher.com" target="_blank">multi team 1</a>. <br>
                                Get More information From Our
                                <a href="https://themefisher.com/free-bootstrap-templates/" target="_blank">page</a>
                            </p>
                        </div>
                        <div class="col-md-4 col-12">
                            <!-- Social Media -->
                            <ul class="d-none social text-center text-md-right text-lg-right">
                                <li>
                                    <a href="http://wwww.fb.com/themefisher" class="Facebook">
                                        <i class="ion-social-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://wwww.twitter.com/themefisher" class="Twitter">
                                        <i class="ion-social-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="Linkedin">
                                        <i class="ion-social-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://wwww.fb.com/themefisher" class="Google Plus">
                                        <i class="ion-social-googleplus"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer> <!-- /#footer -->
	<!-- Template Javascript Files
	================================================== -->
	<!-- jquery -->
	<script src="{% static 'plugins/jQurey/jquery.min.js' %}"></script>
	<!-- Form Validation -->
    <script src="{% static 'plugins/form-validation/jquery.form.js' %}"></script>
    <script src="{% static 'plugins/form-validation/jquery.validate.min.js' %}"></script>
	<!-- slick slider -->
	<script src="{% static 'plugins/slick/slick.min.js' %}"></script>
	<!-- bootstrap js -->
	<script src="{% static 'plugins/bootstrap/bootstrap.min.js' %}"></script>
	<!-- wow js -->
	<script src="{% static 'plugins/wow-js/wow.min.js' %}"></script>
	<!-- slider js -->
	<script src="{% static 'plugins/slider/slider.js' %}"></script>
	<!-- Fancybox -->
	<script src="{% static 'plugins/facncybox/jquery.fancybox.js' %}"></script>
	<!-- template main js -->
	<script src="{% static 'js/main.js' %}"></script>
 	</body>
</html>